<div class="container">
        <h1>Cadastro de Cliente</h1>
                {{#each post}}
                {{#dataValues}}
            <form action="/atualizar" method="POST">
                <div class="mb-3 text-start">
                    <input type="hidden" name="id" class="form-control" id="nome" value="{{id}}">
                    <label class="form-label">Nome:</label>
                    <input type="text" name="nome" class="form-control" id="nome">
                </div>
                <div class="mb-3 text-start">
                    <label class="form-label">Endereço:</label>
                    <input type="text" name="endereco" class="form-control" id="endereco">
                </div>

                <div class="mb-3 text-start">
                    <label class="form-label">Bairro:</label>
                    <input type="text" name="bairro" class="form-control" id="bairro">
                </div>

                <div class="mb-3 text-start">
                    <label class="form-label">CEP:</label>
                    <input type="text" name="cep" class="form-control" id="cep">
                </div>

                <div class="mb-3 text-start">
                    <label class="form-label">Cidade:</label>
                    <input type="text" name="cidade" class="form-control" id="cidade">
                </div>

                <div class="mb-3 text-start">
                    <label class="form-label">Estado:</label>
                    <input type="text" name="estado" class="form-control" placeholder="" id="estado">
                </div>
                <div class="mb-3 text-start">
                    <button type="submit" class="btn btn-primary">Atualizar</button>
                </div>
            </form>
            {{/dataValues}}
            {{/each}}
            </p>
        </div>
        <div class="col-1">
            &nbsp;
        </div>
    </div>
</div>